.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.footer {
  background-color: #282c34;
  color: white;
  height: 5vh;
}

.footer p {
  margin-bottom: 0;
  padding-block: 5px;
}

.container .jumbotron {
  margin-bottom: 0;
  background-color: #202a20;
  color: white;
}

.container .card {
  height: 300px;
  border-radius: 5px;
  overflow: hidden;
}

.card .card-img-top {
  height: 200px;
  object-fit: cover;
}

.card-body {
  background-color: #717275;
  color: white;
}

.card .card-body .card-title {
  font-size: 15px;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.main-container {
  overflow-y: scroll;
  background-color: #dfe2ed;
  /* height: calc(100vh -100px); */
  height: 85vh;
  /* height: 80%; */
}

.navbar {
  height: 10vh;
}

.main-container .container:first-child {
  margin-block: 20px;
}

.footer .container,
.footer .row {
  height: 100%;
}

.footer .col {
  display: flex;
  align-items: center;
  justify-content: center;
}
